<div id="keios-toolbox" class="report-widget">
    <h3><?= e(trans('keios.toolbox::lang.plugin.name')) ?></h3>

    <div class="toolbox-buttons" style="text-align: center">
        <button type="button" style="width: 100%;"  class="btn btn-success"
                data-request="<?= $this->getEventHandler('onCacheClear') ?>"
                data-request-success="$('#cachesizes').replaceWith(data.partial)">
            <span class="fa icon-trash"></span> <?= trans('keios.toolbox::lang.plugin.cache_clear'); ?>
                (<?=$size['all']?>)
        </button>
        <hr>
        <button type="button" style="width: 100%;" class="btn btn-danger"
                data-request="<?= $this->getEventHandler('onSwitchToRed') ?>">
            <span class="fa icon-paint-brush"> <?= trans('keios.toolbox::lang.plugin.red_theme'); ?></span>
        </button>
        <br /><br />
        <button type="button" style="width: 100%;" class="btn btn-primary"
                data-request="<?= $this->getEventHandler('onSwitchToBlue') ?>">
            <span class="fa icon-paint-brush"> <?= trans('keios.toolbox::lang.plugin.blue_theme'); ?></span>
        </button>
        <br /><br />
        <button type="button" style="width: 100%;" class="btn btn-default"
                data-request="<?= $this->getEventHandler('onSwitchToDefault') ?>">
            <span class="fa icon-paint-brush"> <?= trans('keios.toolbox::lang.plugin.default_theme'); ?></span>
        </button>
        <!--
    <hr>
    <button type="button" class="btn btn-success"
            data-request="<?= $this->getEventHandler('onRefreshCurrencies') ?>">
        <span class="fa icon-money"> Update Currency Ratios</span>
    </button>
    <hr>
    <button type="button" class="btn btn-warning"
            data-request="<?= $this->getEventHandler('onOptimize') ?>">
        <span class="fa icon-gears"> Optimize Framework</span>
    </button>
    -->
    </div>
</div>

